In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats
import seaborn as sns
import glob
import os
from IPython.display import display

## Data frome with normal valeus

In [3]:
path = r'database-interpolated'
files = os.listdir(path)
mean_f =[]
median_f = []
sd_f = []
peak_f = []
rms_f = []
peakto_rms_f = []

mean_u =[]
median_u = []
sd_u = []
peak_u = []
rms_u = []
peakto_rms_u = []

target = []
ids = []
for f in files:
    file_path = os.path.join(path, f)
    df = pd.read_csv(file_path)
    # FHR
    mean_f.append(np.mean(df.FHR_denoised))
    median_f.append(np.median(df.FHR_denoised))
    sd_f.append(np.std(df.FHR_denoised))
    rms_f.append(np.sqrt(np.mean(df.FHR_denoised**2)))
    peak_f.append(np.max(df.FHR_denoised))
    peakto_rms_f.append(np.max(df.FHR_denoised) - np.sqrt(np.mean(df.FHR_denoised**2)))
    # UC
    mean_u.append(np.mean(df.UC))
    median_u.append(np.median(df.UC))
    sd_u.append(np.std(df.UC))
    rms_u.append(np.sqrt(np.mean(df.UC**2)))
    peak_u.append(np.max(df.UC))
    peakto_rms_u.append(np.max(df.UC) - np.sqrt(np.mean(df.UC**2)))
    
    if f[0]=='1':
        target.append(1)
    else:
        target.append(0)
    
    ids.append(int(f.split(".")[0]))

In [4]:
main_df = pd.DataFrame({
    'Patient_ID':ids,
    'Mean_FHR': mean_f,
    'Mean_UC': mean_u,
    'Median_FHR': median_f,
    'Median_UC': median_u,
    'Std_FHR': sd_f,
    'Std_UC': sd_u,
    'RMS_FHR': rms_f,
    'RMS_UC': rms_u,
    'Peak_to_RMS_FHR': peakto_rms_f,
    'Peak_to_RMS_UC': peakto_rms_u,
    'Peak_FHR': peak_f,
    'Peak_UC': peak_u,
    'target': target,
})

In [5]:
main_df

,Patient_ID,Mean_FHR,Mean_UC,Median_FHR,Median_UC,Std_FHR,Std_UC,RMS_FHR,RMS_UC,Peak_to_RMS_FHR,Peak_to_RMS_UC,Peak_FHR,Peak_UC,target
0,1001,112.698633,24.815130,137.750,23.0,55.948729,21.970835,125.822264,33.143752,67.177736,93.856248,193.00,127.0,1
1,1002,130.907630,24.777604,150.000,20.5,50.734943,24.685834,140.395307,34.975993,83.604693,92.024007,224.00,127.0,1
2,1003,98.878819,14.892778,123.000,3.0,50.552578,21.705502,111.052168,26.323443,63.447832,73.676557,174.50,100.0,1
3,1004,133.908646,22.084762,139.000,6.0,24.087743,30.393657,136.057873,37.570082,30.692127,62.429918,166.75,100.0,1
4,1005,92.547375,15.335806,116.000,14.0,51.581668,16.210997,105.951334,22.315540,123.048666,100.684460,229.00,123.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,2042,90.791597,39.765486,119.750,53.0,56.349493,27.015161,106.856817,48.074035,53.393183,48.425965,160.25,96.5,0
548,2043,87.229167,18.059265,121.500,11.5,59.528506,21.489166,105.605732,28.069936,127.894268,98.930064,233.50,127.0,0
549,2044,115.756109,15.543302,150.250,12.5,66.712791,16.887054,133.604167,22.951402,48.395833,79.548598,182.00,102.5,0
550,2045,96.764016,14.546898,119.875,9.0,45.510715,17.320340,106.932221,22.618719,60.567779,104.381281,167.50,127.0,0
551,2046,68.106678,22.010634,94.750,19.0,55.981223,21.014401,88.161312,30.431449,110.588688,81.068551,198.75,111.5,0

In [6]:
main_df.sort_values('Patient_ID', inplace=True)

In [7]:
main_df.describe()

,Patient_ID,Mean_FHR,Mean_UC,Median_FHR,Median_UC,Std_FHR,Std_UC,RMS_FHR,RMS_UC,Peak_to_RMS_FHR,Peak_to_RMS_UC,Peak_FHR,Peak_UC,target
count,552.000000,552.000000,552.000000,552.000000,552.000000,552.000000,552.000000,552.000000,552.000000,552.000000,552.000000,552.000000,552.000000,552.000000
mean,1317.666667,112.246434,19.711267,132.039855,14.894022,47.701179,18.633507,123.732994,27.493065,70.698165,72.801319,194.431159,100.294384,0.916667
std,254.914906,19.234467,9.655020,18.491446,10.494666,16.229789,7.709972,14.049607,11.510844,29.935515,21.551436,25.697833,25.807149,0.276636
min,1001.000000,58.507217,0.000000,0.000000,0.000000,8.643981,0.000000,83.382952,0.000000,14.122671,0.000000,141.500000,0.000000,0.000000
25%,1138.750000,99.137666,12.908070,123.750000,7.000000,35.986436,13.076540,113.868139,19.704456,47.128247,61.714626,174.000000,90.875000,1.000000
50%,1276.500000,113.635198,18.094007,133.250000,14.000000,51.524920,17.930106,123.929673,26.039199,65.232734,75.147609,191.500000,100.000000,1.000000
75%,1414.250000,126.023597,25.312928,142.000000,20.500000,59.736549,23.676678,133.609013,34.584816,95.536859,89.558185,212.125000,127.000000,1.000000
max,2046.000000,159.554909,80.188274,172.250000,81.000000,85.408646,42.916205,162.860161,82.475007,199.864996,114.296265,293.000000,127.500000,1.000000

In [8]:
df=pd.read_csv('ann_db.csv')
df

,ID,pH,BDecf,pCO2,BE,Apgar1,Apgar5,Gest. Weeks,Weight(g),Sex,...,Induced,I.stage,NoProgress,CK/KP,II.stage,Deliv. type,dbID,Rec. type,Pos. II.st.,Sig2Birth
0,1220,7.30,3.52,6.0,-4.7,9,10,42,3100.0,2,...,1,165,0,0,15,1,1051632,2,14400,0
1,1234,7.29,2.50,6.5,-4.2,8,9,41,3200.0,1,...,0,135,0,0,10,1,1054195,1,14400,0
2,1208,7.23,5.84,6.6,-7.4,9,9,40,3900.0,2,...,0,260,0,0,30,1,1049536,12,14400,0
3,1038,7.33,2.72,5.7,-4.0,10,10,39,2740.0,1,...,0,15,0,0,10,1,1002508,1,14400,0
4,1004,7.30,5.19,5.5,-6.4,8,9,41,3370.0,1,...,1,55,0,0,10,1,983277,12,14400,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,1088,7.25,2.58,7.3,-4.5,8,8,38,3340.0,1,...,0,340,0,0,30,1,1019042,1,14400,0
548,1253,7.32,0.89,6.4,-1.7,8,9,38,3290.0,1,...,1,190,0,0,10,1,1057430,1,14400,0
549,1247,7.32,-0.86,6.9,-1.0,9,10,40,3270.0,1,...,0,270,0,0,20,1,1056594,1,14400,0
550,2028,7.18,4.82,8.1,-7.2,8,9,41,3430.0,1,...,1,125,1,0,-1,2,1042878,12,-1,0
551,2014,7.32,2.28,6.0,-3.2,10,10,40,4100.0,1,...,0,246,0,0,-1,2,1011294,12,-1,0

In [9]:
df.sort_values('ID', inplace=True)

In [10]:
final_df = pd.concat([df, main_df], axis=1)

In [11]:
final_df.columns

Index(['ID', 'pH', 'BDecf', 'pCO2', 'BE', 'Apgar1', 'Apgar5', 'Gest. Weeks',
       'Weight(g)', 'Sex', 'Age', 'Gravidity', 'Parity', 'Diabetes',
       'Hypertension', 'Preeclampsia', 'Liq.', 'Pyrexia', 'Meconium',
       'Presentation', 'Induced', 'I.stage', 'NoProgress', 'CK/KP', 'II.stage',
       'Deliv. type', 'dbID', 'Rec. type', 'Pos. II.st.', 'Sig2Birth',
       'Patient_ID', 'Mean_FHR', 'Mean_UC', 'Median_FHR', 'Median_UC',
       'Std_FHR', 'Std_UC', 'RMS_FHR', 'RMS_UC', 'Peak_to_RMS_FHR',
       'Peak_to_RMS_UC', 'Peak_FHR', 'Peak_UC', 'target'],
      dtype='object')

In [14]:
final_df

,ID,pH,BDecf,pCO2,BE,Apgar1,Apgar5,Gest. Weeks,Weight(g),Sex,...,Median_UC,Std_FHR,Std_UC,RMS_FHR,RMS_UC,Peak_to_RMS_FHR,Peak_to_RMS_UC,Peak_FHR,Peak_UC,target
0,1220,7.30,3.52,6.0,-4.7,9,10,42,3100.0,2,...,23.0,55.948729,21.970835,125.822264,33.143752,67.177736,93.856248,193.00,127.0,1
1,1234,7.29,2.50,6.5,-4.2,8,9,41,3200.0,1,...,20.5,50.734943,24.685834,140.395307,34.975993,83.604693,92.024007,224.00,127.0,1
2,1208,7.23,5.84,6.6,-7.4,9,9,40,3900.0,2,...,3.0,50.552578,21.705502,111.052168,26.323443,63.447832,73.676557,174.50,100.0,1
3,1038,7.33,2.72,5.7,-4.0,10,10,39,2740.0,1,...,6.0,24.087743,30.393657,136.057873,37.570082,30.692127,62.429918,166.75,100.0,1
4,1004,7.30,5.19,5.5,-6.4,8,9,41,3370.0,1,...,14.0,51.581668,16.210997,105.951334,22.315540,123.048666,100.684460,229.00,123.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,1088,7.25,2.58,7.3,-4.5,8,8,38,3340.0,1,...,53.0,56.349493,27.015161,106.856817,48.074035,53.393183,48.425965,160.25,96.5,0
548,1253,7.32,0.89,6.4,-1.7,8,9,38,3290.0,1,...,11.5,59.528506,21.489166,105.605732,28.069936,127.894268,98.930064,233.50,127.0,0
549,1247,7.32,-0.86,6.9,-1.0,9,10,40,3270.0,1,...,12.5,66.712791,16.887054,133.604167,22.951402,48.395833,79.548598,182.00,102.5,0
550,2028,7.18,4.82,8.1,-7.2,8,9,41,3430.0,1,...,9.0,45.510715,17.320340,106.932221,22.618719,60.567779,104.381281,167.50,127.0,0
551,2014,7.32,2.28,6.0,-3.2,10,10,40,4100.0,1,...,19.0,55.981223,21.014401,88.161312,30.431449,110.588688,81.068551,198.75,111.5,0

In [15]:
final_df.drop(['Patient_ID'], axis=1,inplace=True)
final_df

KeyError: "['Patient_ID'] not found in axis"

In [16]:
final_df.to_csv("database/ctu_df-interpolated.csv", index=False) # saving the csv file

In [17]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', -1)

<ipython-input-17-1390d13c0cdd>:4: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  pd.set_option('display.max_colwidth', -1)

In [18]:
display(final_df.describe())

,ID,pH,BDecf,pCO2,BE,Apgar1,Apgar5,Gest. Weeks,Weight(g),Sex,Age,Gravidity,Parity,Diabetes,Hypertension,Preeclampsia,Liq.,Pyrexia,Meconium,Presentation,Induced,I.stage,NoProgress,CK/KP,II.stage,Deliv. type,dbID,Rec. type,Pos. II.st.,Sig2Birth,Mean_FHR,Mean_UC,Median_FHR,Median_UC,Std_FHR,Std_UC,RMS_FHR,RMS_UC,Peak_to_RMS_FHR,Peak_to_RMS_UC,Peak_FHR,Peak_UC,target
count,552.000000,552.000000,541.000000,541.000000,541.000000,552.000000,552.000000,552.000000,551.000000,552.000000,552.000000,548.000000,552.000000,552.000000,552.00000,552.000000,552.000000,552.000000,552.000000,549.000000,552.000000,552.000000,552.000000,552.000000,552.000000,552.000000,5.520000e+02,552.000000,552.000000,552.0,552.000000,552.000000,552.000000,552.000000,552.000000,552.000000,552.000000,552.000000,552.000000,552.000000,552.000000,552.000000,552.000000
mean,1317.666667,7.230054,4.601904,7.069501,-6.384104,8.262681,9.068841,39.994565,3400.426497,1.481884,29.673913,1.406934,0.409420,0.067029,0.07971,0.030797,0.266304,0.010870,0.115942,1.149362,0.393116,934.798913,0.099638,0.025362,12.456522,1.083333,1.053090e+06,1.875000,13241.315217,0.0,112.246434,19.711267,132.039855,14.894022,47.701179,18.633507,123.732994,27.493065,70.698165,72.801319,194.431159,100.294384,0.916667
std,254.914906,0.105039,3.553392,1.556686,3.827455,1.624959,1.085613,1.132737,454.781915,0.500125,4.538863,1.031721,0.724814,0.250299,0.27109,0.172924,0.442426,0.103783,0.320446,0.494038,0.488885,16736.184811,0.299788,0.157366,8.233101,0.276636,3.450331e+04,2.668079,4012.185116,0.0,19.234467,9.655020,18.491446,10.494666,16.229789,7.709972,14.049607,11.510844,29.935515,21.551436,25.697833,25.807149,0.276636
min,1001.000000,6.850000,-3.400000,0.700000,-26.800000,1.000000,4.000000,37.000000,1970.000000,1.000000,18.000000,1.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,-30.000000,0.000000,0.000000,-1.000000,1.000000,9.742040e+05,-1.000000,-1.000000,0.0,58.507217,0.000000,0.000000,0.000000,8.643981,0.000000,83.382952,0.000000,14.122671,0.000000,141.500000,0.000000,0.000000
25%,1138.750000,7.170000,2.490000,5.900000,-8.000000,8.000000,9.000000,39.000000,3100.000000,1.000000,27.000000,1.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,135.000000,0.000000,0.000000,5.000000,1.000000,1.026766e+06,1.000000,14400.000000,0.0,99.137666,12.908070,123.750000,7.000000,35.986436,13.076540,113.868139,19.704456,47.128247,61.714626,174.000000,90.875000,1.000000
50%,1276.500000,7.250000,4.130000,7.000000,-5.600000,9.000000,9.000000,40.000000,3410.000000,1.000000,30.000000,1.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,218.500000,0.000000,0.000000,10.000000,1.000000,1.056252e+06,1.000000,14400.000000,0.0,113.635198,18.094007,133.250000,14.000000,51.524920,17.930106,123.929673,26.039199,65.232734,75.147609,191.500000,100.000000,1.000000
75%,1414.250000,7.300000,6.140000,7.900000,-4.000000,9.000000,10.000000,41.000000,3700.000000,2.000000,33.000000,1.000000,1.000000,0.000000,0.00000,0.000000,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,0.000000,20.000000,1.000000,1.074182e+06,1.000000,14400.000000,0.0,126.023597,25.312928,142.000000,20.500000,59.736549,23.676678,133.609013,34.584816,95.536859,89.558185,212.125000,127.000000,1.000000
max,2046.000000,7.470000,26.110000,12.300000,-0.200000,10.000000,10.000000,43.000000,4750.000000,2.000000,46.000000,11.000000,7.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,3.000000,1.000000,393425.000000,1.000000,1.000000,30.000000,2.000000,1.117886e+06,12.000000,19277.000000,0.0,159.554909,80.188274,172.250000,81.000000,85.408646,42.916205,162.860161,82.475007,199.864996,114.296265,293.000000,127.500000,1.000000

## dataframe with interpolation applied